In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data_hw_01/adult.data.csv', names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                                                'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
                                                'hours-per-week', 'native-country', 'salary'])

In [9]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

#### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [11]:
df['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

#### 2. Каков средний возраст (признак age) женщин?

In [15]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [17]:
df[df['sex'] == ' Female']['age'].mean()

36.85823043357163

#### 3. Какова доля граждан Германии (признак native-country)?

In [27]:
df['native-country'].value_counts(normalize=True)[' Germany']

0.004207487485028101

#### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [31]:
df.groupby('salary')['age'].agg(['mean', 'std'])

             mean        std
salary
 <=50K  36.783738  14.020088
 >50K   44.249841  10.519028